[Unit]
Description=Lasersaur driveboardapp
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/python3.8 /root/driveboardapp/backend/app.py --cli

[Install]
WantedBy=multi-user.target